@media (max-width: 1200px) {
    .navbar {
        padding-right: 15px;
    }

    .container {
        margin: 50px 30px;
    }

    .product-name, .product-description {
        font-size: 14px;
    }

    #product-table td img {
        width: 80px;
    }
}

/* Écrans plus petits que 992px */
@media (max-width: 992px) {
    .navbar {
        padding-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .container {
        margin: 30px 15px;
    }

    #product-table td input[type='number'].quantity {
        width: 80px;
    }

    .product-name, .product-description {
        font-size: 12px;
    }

    /* Réorganisation en colonnes pour les écrans plus petits */
    #product-table, #product-table thead, #product-table tbody {
        display: block;
    }

    #product-table thead tr {
        display: none;
    }

    #product-table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        border: 1px solid #A65437;
        border-radius: 5px;
        padding: 10px;
        background-color: #FFE1CD;
    }

    #product-table tbody td {
        display: block;
        text-align: right;
        padding: 5px 10px;
        border-bottom: 1px solid #A65437;
    }

    #product-table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
    }
}

/* Écrans plus petits que 768px */
@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 20px;
        padding: 20px;
    }

    #product-table {
        font-size: 14px;
    }

    #product-table th, #product-table td {
        padding: 8px;
    }

    #product-table td input[type='number'].quantity {
        width: 60px;
    }

    .product-name, .product-description {
        font-size: 10px;
    }
}

/* Styles pour les écrans plus petits que 756px */
@media (max-width: 756px) {
    .container {
        width: 100%;
        margin: 10px;
        padding: 15px;
    }

    .navbar {
        padding: 10px;
    }

    #product-table {
        font-size: 14px; /* Ajuste la taille de la police pour être lisible */
    }

    #product-table th, #product-table td {
        padding: 10px;
    }

    #product-table td img {
        width: 120px; /* Ajuste la taille des images pour qu'elles soient plus visibles */
        height: auto;
    }

    #product-table td input[type='number'].quantity {
        width: 60px; /* Ajuste la largeur des champs de quantité */
    }

    .product-name, .product-description {
        font-size: 14px; /* Ajuste la taille de la police pour une meilleure lisibilité */
    }

    /* Réorganisation en colonnes pour les écrans plus petits */
    #product-table, #product-table thead, #product-table tbody {
        display: block;
    }

    #product-table thead tr {
        display: none;
    }

    #product-table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #A65437;
        border-radius: 5px;
        padding: 10px;
        background-color: #FFE1CD;
    }

    #product-table tbody td {
        display: block;
        text-align: right;
        padding: 5px 10px;
        border-bottom: 1px solid #A65437;
    }

    #product-table tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
    }

    /* Réduction des tailles des boutons */
    #product-table td button {
        padding: 8px 12px;
        font-size: 14px;
    }
}
