
/* Styles pour le menu latéral */
#sidemenu {
    position: fixed;
    top: 0;
    right: -250px; /* Caché par défaut */
    width: 250px;
    height: 100%;
    background-color: #FFCBA1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

/* Styles pour les icônes d'ouverture et de fermeture */
.icon-container {
    display: none; /* Caché par défaut */
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

/* Styles pour les éléments de la sidebar */
#sidemenu ul {
    list-style: none;
    padding: 0;
}

#sidemenu ul li {
    margin-bottom: 20px;
}

#sidemenu ul li a {
    text-decoration: none;
    color: #A65437;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#sidemenu ul li a:hover {
    background-color: #FFD7A9;
}

/* Styles pour la gestion responsive */
@media (max-width: 756px) {
    .main-nav {
        display: none; /* Cache le menu principal en mode responsive */
    }

    #sidemenu {
        right: -250px; /* Cache le menu latéral par défaut */
    }

    .icon-container {
        display: block; /* Affiche les icônes en mode responsive */
    }

    .icon.open {
        display: block; /* Affiche l'icône d'ouverture */
    }

    .icon.close {
        display: block; /* Affiche l'icône de fermeture */
    }
}

/* Affichage du menu latéral lorsque ouvert */
#sidemenu.open {
    right: 0; /* Affiche le menu latéral */
}
