header{
    background-image: url(../images/back3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    align-items: center;
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


nav ul li a {
    position: relative;
}

nav ul li a:hover{
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    color: #9D7150 ;
    text-align: center;
}

.row {
    width: 100%;
    height: 100vh;
}
.col-2 {
    width: 640px;
    padding: 100px 0px;
    margin: 0px 370px;
}

.col-2 h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 25px 0;
    color: #A65437;
    text-align: center;
}

.arrow {
    cursor: pointer;
    display: flex;
    padding: 8px 20px;
    margin: 50px 230px;
    margin-right: 0;
    border-radius: 30px;
    background-color: #FFE1CD;
    font-weight: 400;
    width: 150px;
    transition: background 0.5s;
}
.arrow a {
    margin-right: 8px;
}
.arrow i {
    color:#A65437;
}

.arrow:hover { 
    background-color: #D98C5F; /* Changer le fond lors du hover */
    color: #FFFFFF;
}

/* Style général pour le texte du logo */
.logo {
    font-family: 'Montserrat', sans-serif; /* Utilise Montserrat pour un look moderne */
    font-size: 40px; /* Ajuste la taille selon tes besoins */
    font-weight: bold; /* Met en avant le texte */
    color: #FFD8B7; /* Couleur principale du texte */
    text-align: center; /* Centre le texte */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre légère pour plus de profondeur */
    margin-left: 150px;
    transition: color 0.3s ease, transform 0.3s ease; /* Transition pour les effets de hover */
}

/* Style pour le mot "For" */
.logo span:first-child {
    color: #FFD8B7; /* Couleur du texte pour "For" */
}


/* Style pour le point */
#sp {
    color: #A65437; 
    font-size: 1.5em; /* Ajuste la taille du point */
    margin-left: 0.1em; /* Ajoute un petit espace à gauche du point */
}

/* Effet de hover sur le logo */
.logo:hover {
    color: #A65437; /* Change la couleur du texte au survol */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Augmente l'ombre au survol */
    transform: scale(1.1); /* Agrandit légèrement le logo au survol */
}

nav .icon {
    display: none;
}